<div class="flex flex-col items-center gap-y-10 md:flex-row mb-10 lg:mb-16">
  <h1 class="capitalize text-white text-2xl lg:text-3xl font-bold">Top Tracks</h1>
  <div class="flex-1 w-full text-white/50 flex items-center justify-around md:justify-end md:gap-x-5 lg:gap-x-10">
<span
  [ngClass]="selectedTimeRange === TimeRange.LONG_TERM ? 'selected' : null"
  (click)="onTabSelect(TimeRange.LONG_TERM)"
  class="cursor-pointer border-b border-transparent hover:border-white hover:text-white transition duration-300">All
  Time</span>
    <span
      [ngClass]="selectedTimeRange === TimeRange.MEDIUM_TERM ? 'selected' : null"
      (click)="onTabSelect(TimeRange.MEDIUM_TERM)"
      class="cursor-pointer border-b border-transparent hover:border-white hover:text-white transition duration-300">Last
  6 Months</span>
    <span
      [ngClass]="selectedTimeRange === TimeRange.SHORT_TERM ? 'selected' : null"
      (click)="onTabSelect(TimeRange.SHORT_TERM)"
      class="cursor-pointer border-b border-transparent hover:border-white hover:text-white transition duration-300">Last
  4 Weeks</span>
  </div>
</div>
<tracks [tracks]="topTracks$ | async" />
