<div class="flex flex-col items-center gap-y-5 md:flex-row mb-10 lg:mb-16">
  <h1 class="capitalize text-white text-2xl lg:text-3xl font-bold">Recommended Tracks Based on {{ playlist?.name }}</h1>
  <div class="ml-0 md:ml-auto" *ngIf="!isPlaylistSaved">
  <app-button title="Save to spotify" variant="filled" (onClick)="savePlaylist()" [disabled]="isLoading" />
  </div>
  <a [href]="newPlaylistURL" target="_blank" class="ml-0 md:ml-auto" *ngIf="isPlaylistSaved">
    <app-button title="open in spotify" variant="outline" />
  </a>
</div>
<tracks [tracks]="tracks" />
