<button (click)="click()"
        [disabled]="disabled"
        [ngClass]="{
          'bg-primary border-primary hover:bg-primary/80': variant === 'filled' && !disabled,
          'bg-transparent border-white hover:bg-white': variant !== 'filled' && !disabled,
          'bg-gray-200 border-gray-200 cursor-not-allowed': disabled,
          'cursor-pointer': !disabled
        }"
        class="w-max px-7 py-3 rounded-full border text-white group transition-all duration-300 flex justify-center items-center">
  <span
    [ngClass]="{
      'group-hover:text-white': variant === 'filled',
      'group-hover:text-dark': variant !== 'filled'
    }"
    class="uppercase text-xs font-bold tracking-widest transition duration-300">{{ title }}</span>
</button>
