<div class="space-y-10">
  <div class="flex flex-col items-center gap-y-10 md:flex-row">
    <h1 class="capitalize text-white text-xl md:text-2xl lg:text-3xl font-bold">Top Artists</h1>
    <div class="flex-1 w-full text-white/50 flex items-center justify-around md:justify-end md:gap-x-5">
      <span
        class="cursor-pointer border-b border-transparent hover:border-white hover:text-white transition duration-300">All
        Time</span>
      <span
        class="cursor-pointer border-b border-transparent hover:border-white hover:text-white transition duration-300">Last
        6 Months</span>
      <span
        class="cursor-pointer border-b border-transparent hover:border-white hover:text-white transition duration-300">Last
        4 Weeks</span>
    </div>
  </div>
  <div class="w-full grid grid-cols-[repeat(auto-fill,minmax(200px,auto))] gap-x-5 gap-y-10">
    <div class="flex flex-col items-center gap-y-4">
      <div class="relative img-container cursor-pointer">
        <img class="w-36 h-36 xl:w-44 xl:h-44 rounded-full object-cover"
          src="https://i.scdn.co/image/ab6761610000f1784293385d324db8558179afd9" alt="artist">
        <div class="overlay">
          <img src="/assets/icons/info.svg" class="w-5" alt="info">
        </div>
      </div>
      <p
        class="text-white lg:text-lg cursor-pointer border-b border-transparent hover:border-white transtion duration-300">
        Drake</p>
    </div>
    <div class="flex flex-col items-center gap-y-4">
      <div class="relative img-container cursor-pointer">
        <img class="w-36 h-36  xl:w-44 xl:h-44 rounded-full object-cover"
          src="https://i.scdn.co/image/ab6761610000f1784293385d324db8558179afd9" alt="artist">
        <div class="overlay">
          <img src="/assets/icons/info.svg" class="w-5" alt="info">
        </div>
      </div>
      <p
        class="text-white lg:text-lg cursor-pointer border-b border-transparent hover:border-white transtion duration-300">
        Drake</p>
    </div>
    <div class="flex flex-col items-center gap-y-4">
      <div class="relative img-container cursor-pointer">
        <img class="w-36 h-36  xl:w-44 xl:h-44 rounded-full object-cover"
          src="https://i.scdn.co/image/ab6761610000f1784293385d324db8558179afd9" alt="artist">
        <div class="overlay">
          <img src="/assets/icons/info.svg" class="w-5" alt="info">
        </div>
      </div>
      <p
        class="text-white lg:text-lg cursor-pointer border-b border-transparent hover:border-white transtion duration-300">
        Drake</p>
    </div>
    <div class="flex flex-col items-center gap-y-4">
      <div class="relative img-container cursor-pointer">
        <img class="w-36 h-36  xl:w-44 xl:h-44 rounded-full object-cover"
          src="https://i.scdn.co/image/ab6761610000f1784293385d324db8558179afd9" alt="artist">
        <div class="overlay">
          <img src="/assets/icons/info.svg" class="w-5" alt="info">
        </div>
      </div>
      <p
        class="text-white lg:text-lg cursor-pointer border-b border-transparent hover:border-white transtion duration-300">
        Drake</p>
    </div>
    <div class="flex flex-col items-center gap-y-4">
      <div class="relative img-container cursor-pointer">
        <img class="w-36 h-36  xl:w-44 xl:h-44 rounded-full object-cover"
          src="https://i.scdn.co/image/ab6761610000f1784293385d324db8558179afd9" alt="artist">
        <div class="overlay">
          <img src="/assets/icons/info.svg" class="w-5" alt="info">
        </div>
      </div>
      <p
        class="text-white lg:text-lg cursor-pointer border-b border-transparent hover:border-white transtion duration-300">
        Drake</p>
    </div>
    <div class="flex flex-col items-center gap-y-4">
      <div class="relative img-container cursor-pointer">
        <img class="w-36 h-36  xl:w-44 xl:h-44 rounded-full object-cover"
          src="https://i.scdn.co/image/ab6761610000f1784293385d324db8558179afd9" alt="artist">
        <div class="overlay">
          <img src="/assets/icons/info.svg" class="w-5" alt="info">
        </div>
      </div>
      <p
        class="text-white lg:text-lg cursor-pointer border-b border-transparent hover:border-white transtion duration-300">
        Drake</p>
    </div>
  </div>