<nav
  class="bg-dark w-full h-full overflow-hidden md:h-full md:w-[100px] md:order-1 md:flex md:flex-col md:justify-between md:items-center md:py-8">
  <a routerLink="/"><img ngSrc="/assets/icons/spotify.svg" class="hidden md:block" width="48" height="48" alt="spotify"></a>
  <div
    class="flex items-center text-white w-full h-full text-xs md:flex-col md:h-[60%] transition-all ease-linear duration-300">
    <a
      class="opacity-50 w-full h-full flex flex-col items-center justify-center gap-y-1 hover:opacity-100 hover:bg-lightDark border-t-[3px] md:border-t-0 md:border-l-[4px] border-transparent hover:border-primary transition-colors ease-in-out duration-300"
      routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img ngSrc="/assets/icons/profile.svg" width="20" height="20" alt="profile icon" />
      <span class="inline-block">Profile</span>
    </a>
    <a
      class="opacity-50 w-full h-full flex flex-col items-center justify-center gap-y-1 hover:opacity-100 hover:bg-lightDark border-t-[3px] md:border-t-0 md:border-l-[4px] border-transparent hover:border-primary transition-colors ease-in-out duration-300"
      routerLink="artists" routerLinkActive="active">
      <img ngSrc="/assets/icons/microphone.svg" class="w-5" alt="mic icon" height="16" width="16"/>
      <span class="inline-block">Top Artists</span>
    </a>
    <a
      class="opacity-50 w-full h-full flex flex-col items-center justify-center gap-y-1 hover:opacity-100 hover:bg-lightDark border-t-[3px] md:border-t-0 md:border-l-[4px] border-transparent hover:border-primary transition-colors ease-in-out duration-300"
      routerLink="tracks" routerLinkActive="active">
      <img ngSrc="/assets/icons/music.svg" width="20" height="20" alt="track icon" />
      <span class="inline-block">Top Tracks</span>
    </a>
    <a
      class="opacity-50 w-full h-full flex flex-col items-center justify-center gap-y-1 hover:opacity-100 hover:bg-lightDark border-t-[3px] md:border-t-0 md:border-l-[4px] border-transparent hover:border-primary transition-colors ease-in-out duration-300"
      routerLink="recent" routerLinkActive="active">
      <img ngSrc="/assets/icons/time.svg" width="20" height="20" alt="recent icon" />
      <span class="inline-block">Recent</span>
    </a>
    <a
      class="opacity-50 w-full h-full flex flex-col items-center justify-center gap-y-1 hover:opacity-100 hover:bg-lightDark border-t-[3px] md:border-t-0 md:border-l-[4px] border-transparent hover:border-primary transition-colors ease-in-out duration-300"
      routerLink="playlists" routerLinkActive="active">
      <img ngSrc="/assets/icons/playlist.svg" class="w-5" alt="playlist icon" width="20" height="20"/>
      <span class="inline-block">Playlists</span>
    </a>
  </div>
  <a href="https://github.com/wissemgrari/spotify-profile" target="_blank">
    <img ngSrc="/assets/icons/github.svg" class="hidden md:block" width="32" height="32" alt="github">
  </a>
</nav>
