<div class="h-full w-full" *ngIf="track$ | async as track">
  <div class="flex flex-col items-center gap-y-5 sm:flex-row sm:items-start sm:gap-x-10">
    <img class="!relative object-contain w-full h-auto max-w-[250px]" [ngSrc]="track.image" fill alt="cover" priority>
    <div class="w-full flex flex-col items-center gap-y-1 sm:items-start">
      <p
        class="text-white text-2xl sm:text-3xl md:text-4xl font-bold">
        {{ track.name }}
      </p>
      <p
        class="text-white/70 text-center text-xl md:text-2xl xl:text-3xl font-medium">
        {{ track.artist }}
      </p>
      <p
        class="text-white/50 text-sm">
        {{ track.album }}
        <span class="text-xs px-1">&bull;</span>
        {{ track.year }}
      </p>
      <a class="mt-5" [href]="track.url" target="_blank">
        <app-button title="play on spotify" variant="filled"/>
      </a>
    </div>
  </div>
  <!--  Track analysis -->
  <div *ngIf="trackAnalysis$ | async as trackAnalysis"
       class="mt-16 grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] sm:grid-cols-[repeat(5,minmax(100px,1fr))] border-t border-l border-[#404040]">
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/80 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ track.duration | duration }}</h4>
      <p class="text-xs font-light capitalize">duration</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.key | pitch }}</h4>
      <p class="text-xs font-light capitalize">key</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.modality === 1 ? 'Major' : 'Minor' }}</h4>
      <p class="text-xs font-light capitalize">Modality</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.time_signature }}</h4>
      <p class="text-xs font-light capitalize">time signature</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.tempo }}</h4>
      <p class="text-xs font-light capitalize">tempo (BPM)</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ track.popularity }}%</h4>
      <p class="text-xs font-light capitalize">popularity</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.bars }}</h4>
      <p class="text-xs font-light capitalize">bars</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.beats }}</h4>
      <p class="text-xs font-light capitalize">beats</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.sections }}</h4>
      <p class="text-xs font-light capitalize">sections</p>
    </div>
    <div class="py-4 px-2 border-b border-r border-[#404040] text-white/70 text-center">
      <h4 class="text-2xl font-medium capitalize">{{ trackAnalysis.segments }}</h4>
      <p class="text-xs font-light capitalize">segments</p>
    </div>
  </div>
  <div class="mt-8 text-lg sm:text-xl md:text-2xl sm:mt-16 font-medium text-white flex flex-col items-center">
    <h2>Audio Features</h2>
    <span class="block w-24 sm:w-28 md:w-32 h-1 bg-primary rounded-full"></span>
  </div>
  <!--  Feature chart goes here -->
  <div class="w-full max-w-3xl mx-auto mt-5 sm:mt-10">
    <audio-feature></audio-feature>
  </div>
</div>
