<div class="space-y-20">
  <div class="flex flex-col justify-center items-center gap-y-8">
    <img class="w-36 h-36 rounded-full object-cover"
      src="https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg"
      alt="user picture">
    <h1 class="capitalize text-white text-3xl font-bold">Elon Musk</h1>
    <div class="flex items-center gap-x-10">
      <div class="flex flex-col items-center gap-y-1">
        <span class="text-primary font-bold">1.2k</span>
        <span class="text-white/50 uppercase text-xs font-medium tracking-[.2em]">Followers</span>
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <span class="text-primary font-bold">20</span>
        <span class="text-white/50 uppercase text-xs font-medium tracking-[.2em]">Following</span>
      </div>
      <div class="flex flex-col items-center gap-y-1">
        <span class="text-primary font-bold">14</span>
        <span class="text-white/50 uppercase text-xs font-medium tracking-[.2em]">Playlists</span>
      </div>
    </div>
    <app-button title="Logout" />
  </div>
  <!-- Top Artists -->
  <div class="flex flex-col gap-y-5">
    <div class="flex items-center justify-between">
      <h2 class="text-white text-lg font-bold">Top Artists of All Time</h2>
      <app-button title="see more" />
    </div>
    <top-artists />
  </div>
</div>