.playlist-name {
  position: relative;
  cursor: pointer;
}

.playlist-name::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.playlist-name:hover::before {
  opacity: 1;
}
