<div class="bg-dark w-full h-[70px] overflow-hidden">
  <ul class="flex items-center text-white h-full text-xs">
    <li class="h-full flex-1">
      <a class="h-full flex flex-col items-center justify-center gap-y-1 active" routerLink="profile">
        <img src="/assets/icons/profile.svg" class="w-5" />
        <span class="inline-block">Profile</span>
      </a>
    </li>
    <li class="h-full flex-1">
      <a class="h-full flex flex-col items-center justify-center gap-y-1" routerLink="profile">
        <img src="/assets/icons/microphone.svg" class="w-5" />
        <span class="inline-block">Top Artists</span>
      </a>
    </li>
    <li class="h-full flex-1">
      <a class="h-full flex flex-col items-center justify-center gap-y-1" routerLink="profile">
        <img src="/assets/icons/music.svg" class="w-5" />
        <span class="inline-block">Top Tracks</span>
      </a>
    </li>
    <li class="h-full flex-1">
      <a class="h-full flex flex-col items-center justify-center gap-y-1" routerLink="profile">
        <img src="/assets/icons/time.svg" class="w-5" />
        <span class="inline-block">Recent</span>
      </a>
    </li>
    <li class="h-full flex-1">
      <a class="h-full flex flex-col items-center justify-center gap-y-1" routerLink="profile">
        <img src="/assets/icons/playlist.svg" class="w-5" />
        <span class="inline-block">Playlists</span>
      </a>
    </li>
  </ul>
</div>