<div class="bg-dark w-full h-[70px] overflow-hidden">
  <div class="flex items-center text-white h-full text-xs">
    <a class="opacity-50 h-full flex-1 flex flex-col items-center justify-center gap-y-1 hover:opacity-100 border-t-[3px] border-transparent hover:border-primary transition-all ease-in-out duration-300"
      routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img src="/assets/icons/profile.svg" class="w-5" />
      <span class="inline-block">Profile</span>
    </a>
    <a class="opacity-50 h-full flex-1 flex flex-col items-center justify-center gap-y-1 hover:opacity-100 border-t-[3px] border-transparent hover:border-primary transition-all ease-in-out duration-300"
      routerLink="artists" routerLinkActive="active">
      <img src="/assets/icons/microphone.svg" class="w-5" />
      <span class="inline-block">Top Artists</span>
    </a>
    <a class="opacity-50 h-full flex-1 flex flex-col items-center justify-center gap-y-1 hover:opacity-100 border-t-[3px] border-transparent hover:border-primary transition-all ease-in-out duration-300"
      routerLink="tracks" routerLinkActive="active">
      <img src="/assets/icons/music.svg" class="w-5" />
      <span class="inline-block">Top Tracks</span>
    </a>
    <a class="opacity-50 h-full flex-1 flex flex-col items-center justify-center gap-y-1 hover:opacity-100 border-t-[3px] border-transparent hover:border-primary transition-all ease-in-out duration-300"
      routerLink="recent" routerLinkActive="active">
      <img src="/assets/icons/time.svg" class="w-5" />
      <span class="inline-block">Recent</span>
    </a>
    <a class="opacity-50 h-full flex-1 flex flex-col items-center justify-center gap-y-1 hover:opacity-100 border-t-[3px] border-transparent hover:border-primary transition-all ease-in-out duration-300"
      routerLink="playlist" routerLinkActive="active">
      <img src="/assets/icons/playlist.svg" class="w-5" />
      <span class="inline-block">Playlists</span>
    </a>
  </div>
</div>