.overlay {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

.img-container:hover .overlay {
  opacity: 1;
}
